*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #E5E5E5;
  font-size: 1.6rem;
}

.page{
  max-width: 38rem;
  margin: 0 auto;
}

header {
  background:#8E9AAF;
  width: 38.4rem;
  height: 27.9rem;
}

header img {
  position: absolute;

  margin-left: 12.4rem;
  margin-top: 3.2rem;
}

header h1 {
  font-family: 'Staatliches';
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;
  background: #CBC0D3;
  color: #FFFFFF;
  position: absolute;
  width: 38.4rem;
  height: 4.9rem;

  margin-top: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  background: #EFF1FF;
  width: 38.4rem;

  padding: 1.4rem 3.2rem;
  margin-bottom: 6.0rem;

  animation: downtop 700ms reverse;
}

p{
  font-family: 'Palanquin' sans-serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 1.5rem;
  color: #23053A;

  display: flex;
  align-items: center;
  text-align: center;
  
  margin-bottom: 6.3rem;
}

.ice {
  position: relative;
  margin-bottom: 3.2rem;
}

.ice span {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 3.4rem;
  
  color: #4a4e69;
  background: #feeafa;
  border-radius: 2.0rem;
 
  letter-spacing: 5%;

  padding: 0 1.6rem;
  width: fit-content;
  height: 3.4rem;
  
  display:flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
}
